::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444; 
}
.App {
  height: 100vh;
  background: url("images/bg.jpg") no-repeat;
  background-size: cover;
  color: #000;
}
.wrap__art{
  width: 1px;
}
.album__art{
  width: 40px;
  margin-bottom: 8px;
}

.search__results{
  height: fit-content;
  margin-left: 30px;
  margin-top: 5px;
  border-bottom: solid 2px rgba(0, 0, 0, .2);
}

.playlist__search--results{
  width: 70%;
  margin-left: 65px;
  margin-bottom: 5px;
  border-bottom: solid 2px rgba(0,0,0,.2);
}
.col-sm-11.track__align{
  padding-left: 0;
}
.track{
  color: #ddd;
  text-align: left;
  margin: 0;
  margin-left: 15px;  
}

.track__title{
  margin-top: -8px;
  font-weight: 600;
  font-size: 13px;
}

.track__artist{
  font-size: 12px;
}

.current-song{
  color: #1db954;
  text-align: left;
  margin: 0;
  margin-left: 15px; 
}

.current-song__title{
  margin-top: -8px;
  font-weight: 600;
  font-size: 13px;
}

.current-song__artist{
  font-size: 12px;
}

.button__login{
  margin-top: 20px;
  width: 175px;
  border-radius: 25px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border: 3px solid black;
  background-color: white;
  color: black;
  outline: none;
}
.button__login:active, .button__login:focus{
  outline: none;
}

.center-login-button{
  width: 100%;
  height: 50px;
  text-align:center;
  margin: auto;
}

.button-align{
  text-align: right;
}

.button__add{
  width: 30px;
  height: 30px;
  margin-right: 10%;
  margin-top:-10px;
  padding: 0;
  border: 0;
  background-color:transparent;
  font-size: 30px;
  color: white;
  outline: none;
}
.button__add:active, .button__add:focus{
  outline: 0;
}

.button__add:hover{
  color: rgb(41, 168, 41);
}

.panel{
  padding: 2%;
  height: 500px;
  margin-top: 30px;
  overflow-y: scroll;
}
.panel.right-panel{
  background-color: #222;
  height: 500px;
}

.panel.left-panel{
  color: white;
  overflow-y: scroll;
  background-color: #333;
}

.search-bar{
  margin-left: 15px;
  background-color: black;
  color: rgb(23, 235, 16);
  width: 95%;
  border-radius: 20px;
  padding: 5px;
  padding-left: 20px;
  box-shadow: 0px;
  outline: 0;
  border: solid 1px black;
}
.playlist__title{
  text-align: center;
  color: #ddd;
  margin-bottom: 25px;
}

